//
// Theme vivo
//

@import "../../utils/less/reset.less";

// Global styles
* { font-family: "Arial", sans-serif; }

// Components
@import '../../grid/less/grid.less';
@import '../../buttons/less/buttons.less';
@import '../../button-groups/less/button-groups.less';
@import '../../inputs/less/inputs.less';
@import '../../dropdowns/less/dropdowns.less';
@import '../../radios/less/radios.less';
@import '../../checkboxes/less/checkboxes.less';
@import '../../modals/less/modals.less';
@import '../../headers/less/headers.less';
@import '../../sidebars/less/sidebars.less';
@import '../../tabs/less/tabs.less';
@import '../../toolbars/less/toolbars.less';

// Variables
@import 'variables.less';

// Overrides
.tef-header {
  border-bottom: 1px solid #e8e8e8;
  background: white;

  h2 {
    width: 120px;
    height: 46px;
    bottom: 26px;
    left: 41px;
  }

  h1 a {
    color: #999;
  }
}