//
// Variables
//

// Theme colors
@color: #0066cc;
@colorHover: #0763bf;
@colorActive: #1a76d1;
@positive: #99cc33;
@positiveHover: #91bf35;
@positiveActive: #a3d148;
@negative: #b00000;
@negativeHover: #a50707;
@negativeActive: #b81a1a;
@subdued: #999;
@subduedHover: #919191;
@subduedActive: #a3a3a3;
@significant: #ff9900;
@significantHover: #ec9107;
@significantActive: #ffa31a;

// Common colors
@neutral: #84959e;
@neutralHover: #7e8d95;
@neutralActive: #91a0a8;
@grey1: #f2f2f2;
@grey2: #cfcece;
@grey3: #b3b5b7;
@grey4: #aeadad;
@grey5: #686868;
@grey6: #31313d;

// Breakpoints
@widthXS: 480px;
@widthSM: 768px;
@widthMD: 992px;
@widthLG: 1200px;
@widthXL: 1400px;

// Min and Max widths
@widthMin: 320px;

@widthMaxSM: @widthSM - 40px;
@widthMaxMD: @widthMD - 40px;
@widthMaxLG: @widthLG - 40px;
@widthMaxXL: @widthXL - 40px;

// Grid variables
@gutter: 1.6%;
@columnGutter: @gutter / 2;
