html /deep/ button::-moz-focus-inner {
  border: none;
  outline: none;
}
html /deep/ .tef-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 35px;
  background-image: none;
  background-color: #0066cc;
  color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #0066cc;
  border-radius: 4px;
  padding: 8px 9px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  touch-action: manipulation;
  box-sizing: border-box;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html /deep/ .tef-button:hover,
html /deep/ .tef-button:focus {
  color: white;
  background-color: #0059b3;
  border-color: #0059b3;
  outline: none;
}
html /deep/ .tef-button:active,
html /deep/ .tef-button.active {
  color: white;
  background-color: #004c99;
  border-color: #004c99;
}
html /deep/ .tef-button [icon]:before {
  position: relative;
  font-size: 23px;
  line-height: 0;
  top: 4px;
}
html /deep/ .tef-button [icon] + span,
html /deep/ .tef-button span + [icon] {
  margin-left: 5px;
}
html /deep/ .tef-button span {
  font-size: 15px;
}
html /deep/ .tef-button.small {
  font-size: 11px;
  line-height: 13px;
  padding: 6px 9px;
}
html /deep/ .tef-button.small [icon]:before {
  font-size: 18px;
  top: 3px;
}
html /deep/ .tef-button.small span {
  font-size: 11px;
}
html /deep/ .tef-button.large {
  font-size: 24px;
  line-height: 29px;
  padding: 7px 14px;
}
html /deep/ .tef-button.large [icon]:before {
  font-size: 32px;
  top: 5px;
}
html /deep/ .tef-button.large span {
  font-size: 24px;
}
html /deep/ .tef-button.positive {
  background-color: #99cc33;
  color: white;
  border-color: #99cc33;
}
html /deep/ .tef-button.positive:hover,
html /deep/ .tef-button.positive:focus {
  background-color: #8ab82e;
  color: white;
  border-color: #8ab82e;
}
html /deep/ .tef-button.positive:active,
html /deep/ .tef-button.positive.active {
  background-color: #7aa329;
  color: white;
  border-color: #7aa329;
}
html /deep/ .tef-button.negative {
  background-color: #b00000;
  color: white;
  border-color: #b00000;
}
html /deep/ .tef-button.negative:hover,
html /deep/ .tef-button.negative:focus {
  background-color: #970000;
  color: white;
  border-color: #970000;
}
html /deep/ .tef-button.negative:active,
html /deep/ .tef-button.negative.active {
  background-color: #7d0000;
  color: white;
  border-color: #7d0000;
}
html /deep/ .tef-button.subdued {
  background-color: #999999;
  color: white;
  border-color: #999999;
}
html /deep/ .tef-button.subdued:hover,
html /deep/ .tef-button.subdued:focus {
  background-color: #8c8c8c;
  color: white;
  border-color: #8c8c8c;
}
html /deep/ .tef-button.subdued:active,
html /deep/ .tef-button.subdued.active {
  background-color: #808080;
  color: white;
  border-color: #808080;
}
html /deep/ .tef-button.significant {
  background-color: #ff9900;
  color: white;
  border-color: #ff9900;
}
html /deep/ .tef-button.significant:hover,
html /deep/ .tef-button.significant:focus {
  background-color: #e68a00;
  color: white;
  border-color: #e68a00;
}
html /deep/ .tef-button.significant:active,
html /deep/ .tef-button.significant.active {
  background-color: #cc7a00;
  color: white;
  border-color: #cc7a00;
}
html /deep/ .tef-button.block {
  display: block;
  width: 100%;
}
html /deep/ .tef-button + .tef-button {
  margin-left: 6px;
}
