.tef-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-sizing: border-box;
}
.tef-dropdown:before {
  position: absolute;
  font-weight: normal;
  font-size: 24px;
  top: 0;
  right: 0;
  width: 40px;
  line-height: 34px;
  pointer-events: none;
  text-align: center;
}
.tef-dropdown select,
.tef-dropdown span {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background-image: none;
  background-color: #f2f2f2;
  color: black;
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  border-radius: 4px;
  padding: 7px 40px 7px 9px;
  border: 1px solid #cfcece;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-dropdown select:hover,
.tef-dropdown span:hover,
.tef-dropdown select:focus,
.tef-dropdown span:focus,
.tef-dropdown select:active,
.tef-dropdown span:active {
  outline: none;
}
.tef-dropdown:hover select,
.tef-dropdown:focus select,
.tef-dropdown:active select,
.tef-dropdown:hover span,
.tef-dropdown:focus span,
.tef-dropdown:active span {
  padding: 6px 39px 6px 8px;
  border: 2px solid #ff9900;
  outline: none;
}
.tef-dropdown select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}
.tef-dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  list-style: none;
  margin: 0 4px 8px;
  padding: 7px 0;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.tef-dropdown li {
  padding: 3px 10px;
  font-size: 15px;
  word-break: break-word;
}
.tef-dropdown li:hover,
.tef-dropdown li:focus,
.tef-dropdown li:active {
  background: #f2f2f2;
  cursor: pointer;
}
.tef-dropdown a {
  color: black;
  text-decoration: none;
}
.tef-dropdown span:active + ul,
.tef-dropdown span.active + ul {
  display: block;
}
.tef-dropdown.small:before {
  font-size: 18px;
  line-height: 28px;
}
.tef-dropdown.small select,
.tef-dropdown.small span,
.tef-dropdown.small li {
  font-size: 11px;
}
.tef-dropdown.large:before {
  font-size: 30px;
  line-height: 44px;
}
.tef-dropdown.large select,
.tef-dropdown.large span,
.tef-dropdown.large li {
  font-size: 24px;
}
.tef-dropdown.block {
  width: 100%;
}
.tef-dropdown.block select,
.tef-dropdown.block span {
  width: 100%;
}
@-moz-document url-prefix() {
  .tef-dropdown select {
    padding: 6px 40px 6px 9px;
  }
  .tef-dropdown select:hover,
  .tef-dropdown select:focus,
  .tef-dropdown select:active {
    padding: 5px 39px 5px 8px;
  }
}
