.tef-header {
  position: relative;
  height: 138px;
  background: url(../images/bg.jpg) left bottom no-repeat;
}
.tef-header h1 {
  display: none;
  position: absolute;
  bottom: 22px;
  right: 32px;
  color: #fff;
  height: 34px;
  width: 200px;
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}
@media only screen and (min-width: 480px) {
  .tef-header h1 {
    display: block;
  }
}
.tef-header h1 a {
  color: white;
  text-decoration: none;
}
.tef-header h2 {
  position: absolute;
  bottom: 26px;
  left: 24px;
  background: url(../images/logo.png) no-repeat;
  height: 34px;
  width: 200px;
  margin: 0;
  font-size: 0;
}
.tef-header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 32px;
  padding: 0 32px;
  background: #660099;
  color: white;
  z-index: 98;
}
@media only screen and (min-width: 480px) {
  .tef-header nav {
    position: relative;
  }
}
.tef-header ul {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 992px) {
  .tef-header ul {
    display: block;
    background: transparent;
    top: 0;
    right: 22px;
    box-shadow: none;
  }
}
.tef-header ul.show {
  display: block;
}
.tef-header li {
  color: #660099;
  font-size: 12px;
  line-height: 14px;
  padding: 9px 40px;
  border-bottom: 1px solid #f2f2f2;
  text-align: right;
}
@media only screen and (min-width: 992px) {
  .tef-header li {
    display: inline-block;
    color: white;
    border: none;
    line-height: 32px;
    padding: 0 10px;
  }
}
.tef-header li span {
  position: relative;
  top: -2px;
}
.tef-header li a {
  color: #660099;
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .tef-header li a {
    color: white;
  }
}
.tef-header li a:hover span,
.tef-header li a:focus span,
.tef-header li a:active span {
  text-decoration: underline;
}
.tef-header li [data-icon] {
  color: #a175c4;
  padding-left: 4px;
  font-size: 16px;
}
.tef-header .tef-close,
.tef-header .tef-menu {
  position: absolute;
  top: 0;
  right: 32px;
  height: 32px;
  width: 40px;
  border: none;
  background: white;
  color: #660099;
  font-size: 25px;
  z-index: 99;
  cursor: pointer;
}
.tef-header .tef-close.show,
.tef-header .tef-menu.show {
  display: block;
}
@media only screen and (min-width: 992px) {
  .tef-header .tef-close.show,
  .tef-header .tef-menu.show {
    display: none;
  }
}
.tef-header .tef-close:hover,
.tef-header .tef-menu:hover,
.tef-header .tef-close:focus,
.tef-header .tef-menu:focus,
.tef-header .tef-close:active,
.tef-header .tef-menu:active {
  background: white;
  color: #660099;
}
.tef-header .tef-close {
  display: none;
}
.tef-header .tef-menu {
  background: #660099;
  color: white;
}
@media only screen and (min-width: 992px) {
  .tef-header .tef-menu {
    display: none;
  }
}
