label {
  color: #686868;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 28px;
  font-weight: bold;
  padding-right: 7px;
}
.tef-input {
  width: 100%;
  max-width: 330px;
  display: inline-block;
  vertical-align: middle;
  background: white;
  color: black;
  font-size: 15px;
  line-height: auto;
  padding: 7px 9px;
  border: 1px solid #cfcece;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-input.small {
  font-size: 11px;
}
.tef-input.large {
  font-size: 24px;
}
.tef-input:hover,
.tef-input:focus,
.tef-input:active {
  padding: 6px 8px;
  border: 2px solid #ff9900;
  outline: none;
}
.tef-input-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  max-width: 330px;
}
.tef-input-icon .tef-input {
  padding-right: 40px;
}
.tef-input-icon .tef-input:hover,
.tef-input-icon .tef-input:focus,
.tef-input-icon .tef-input:active {
  padding-right: 39px;
}
.tef-input-icon .tef-input + [data-icon] {
  position: absolute;
  top: 50%;
  right: 10px;
  height: 24px;
  margin-top: -12px;
}
.tef-input-icon .tef-input + [data-icon]:before {
  font-size: 24px;
}
.tef-input-icon .tef-input.small {
  padding-right: 35px;
}
.tef-input-icon .tef-input.small + [data-icon] {
  height: 18px;
  margin-top: -9px;
}
.tef-input-icon .tef-input.small + [data-icon]:before {
  font-size: 18px;
}
.tef-input-icon .tef-input.large {
  padding-right: 45px;
}
.tef-input-icon .tef-input.large + [data-icon] {
  height: 30px;
  margin-top: -15px;
}
.tef-input-icon .tef-input.large + [data-icon]:before {
  font-size: 30px;
}
.tef-message {
  display: block;
  max-width: 330px;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}
.tef-positive input {
  padding: 4px 8px;
  border: 2px solid #99cc33;
}
.tef-positive .tef-message {
  background-color: #99cc33;
}
.tef-warning input,
.tef-negative input {
  padding: 4px 8px;
  border: 2px solid #b00000;
}
.tef-warning .tef-message,
.tef-negative .tef-message {
  background-color: #b00000;
}
.tef-row,
.tef-group {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.tef-row label,
.tef-group label {
  display: block;
}
.tef-row > label + *,
.tef-group > label + *,
.tef-row > .tef-message,
.tef-group > .tef-message {
  margin-left: 0;
}
.tef-group > * {
  border-radius: 0 !important;
}
.tef-group > *:first-child,
.tef-group > *:first-child > button {
  border-radius: 4px 0 0 4px !important;
}
.tef-group > *:last-child,
.tef-group > *:last-child > button {
  border-radius: 0 4px 4px 0 !important;
}
.tef-group > *:first-child:last-child {
  border-radius: 4px !important;
}
.tef-group > * ~ * {
  margin: 0 0 0 -5px !important;
}
.tef-group .tef-button + .tef-button {
  border-left-color: white;
}
[disabled],
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
