label {
  color: #686868;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 28px;
  font-weight: bold;
  padding-right: 7px;
}
.tef-input {
  display: inline-block;
  vertical-align: middle;
  background: white;
  color: black;
  font-size: 15px;
  padding: 7px 9px;
  border: 1px solid #cfcece;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-input.small {
  font-size: 11px;
}
.tef-input.large {
  font-size: 24px;
}
.tef-input:hover,
.tef-input:focus,
.tef-input:active {
  padding: 6px 8px;
  border: 2px solid #ff9900;
  outline: none;
}
.tef-input.icon {
  padding-right: 40px;
}
.tef-input.icon:hover,
.tef-input.icon:focus,
.tef-input.icon:active {
  padding-right: 39px;
}
.tef-input.icon + [data-icon] {
  position: relative;
  top: 3px;
  left: -37px;
  width: 40px;
}
.tef-input.icon + [data-icon]:before {
  font-size: 24px;
}
.tef-input.icon.small + [data-icon] {
  top: 2px;
  left: -32px;
}
.tef-input.icon.small + [data-icon]:before {
  font-size: 18px;
}
.tef-input.icon.large + [data-icon] {
  top: 6px;
  left: -40px;
}
.tef-input.icon.large + [data-icon]:before {
  font-size: 30px;
}
.tef-input.block {
  width: 100%;
}
.tef-input.block + [data-icon],
.tef-input.block.small + [data-icon],
.tef-input.block.large + [data-icon] {
  position: absolute;
  right: 0;
  left: auto;
}
.tef-message {
  display: inline-block;
  vertical-align: middle;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
.tef-ok input {
  padding: 6px 8px;
  border: 2px solid #99cc33;
}
.tef-ok .tef-message {
  background-color: #99cc33;
}
.tef-warning input,
.tef-negative input {
  padding: 6px 8px;
  border: 2px solid #b00000;
}
.tef-warning .tef-message,
.tef-negative .tef-message {
  background-color: #b00000;
}
.tef-input.small + .tef-message {
  font-size: 11px;
}
.tef-input.large + .tef-message {
  font-size: 24px;
}
.tef-input.block + .tef-message {
  margin-top: 5px;
  display: block;
}
.tef-row,
.tef-group {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.tef-row label,
.tef-group label {
  display: block;
}
.tef-row > label + *,
.tef-group > label + *,
.tef-row > .tef-message,
.tef-group > .tef-message {
  margin-left: 0;
}
.tef-group > * {
  border-radius: 0 !important;
}
.tef-group > *:first-child,
.tef-group > *:first-child > button {
  border-radius: 4px 0 0 4px !important;
}
.tef-group > *:last-child,
.tef-group > *:last-child > button {
  border-radius: 0 4px 4px 0 !important;
}
.tef-group > *:first-child:last-child {
  border-radius: 4px !important;
}
.tef-group > * ~ * {
  margin: 0 0 0 -5px !important;
}
.tef-group .tef-button + .tef-button {
  border-left-color: white;
}
[disabled],
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
