.tef-sidebar {
  position: relative;
  min-height: 1px;
}
.tef-sidebar nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #333;
  background-color: #c5ced3;
}
.tef-sidebar header {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 15px;
  background-color: #c5ced3;
}
.tef-sidebar .tef-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tef-sidebar .tef-list li {
  position: relative;
  background-color: #d1d9dd;
  border-bottom: 1px solid #e5eaec;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 15px;
  box-sizing: border-box;
}
.tef-sidebar .tef-list a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: -12px -15px;
  padding: 12px 15px;
}
.tef-sidebar .tef-list a:hover,
.tef-sidebar .tef-list a:focus,
.tef-sidebar .tef-list a:active,
.tef-sidebar .tef-list a.active {
  color: #fff;
  background-color: #9ea5a9;
}
.tef-sidebar .tef-input.block + [data-icon] {
  top: 18px;
  right: 15px;
}
