.tef-toolbar {
  background-color: #beccd4;
  border-top: 1px solid #e5eaec;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.tef-toolbar:before,
.tef-toolbar:after {
  content: "";
  display: table;
}
.tef-toolbar:after {
  clear: both;
}
.tef-toolbar li {
  float: left;
  height: 40px;
  min-width: 28px;
  color: #364145;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px;
  border-right: 1px solid #e5eaec;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-toolbar li:hover,
.tef-toolbar li:focus,
.tef-toolbar li:active {
  background-color: #d1d9dd;
}
.tef-toolbar li [data-icon] {
  font-size: 24px;
}
