.tef-tooltip {
  position: relative;
  display: inline-block;
}
.tef-tooltip:before {
  display: none;
  position: absolute;
  content: attr(data-text);
  background-color: #31323b;
  color: white;
  font-size: 12px;
  line-height: 14px;
  padding: 15px 23px;
  border-radius: 4px;
  max-width: 300px;
  text-align: left;
  z-index: 50;
}
.tef-tooltip:after {
  display: none;
  position: absolute;
  content: "";
  border: 8px solid transparent;
  z-index: 50;
}
.tef-tooltip.left:before {
  top: 50%;
  left: 100%;
  margin: -16px 0 0 8px;
}
.tef-tooltip.left:after {
  border-right: 8px solid #31323b;
  top: 50%;
  left: 100%;
  margin: -8px 0 0 -8px;
}
.tef-tooltip.left.reverse:before {
  top: auto;
  bottom: 50%;
  margin: 0 0 -16px 8px;
}
.tef-tooltip.right:before {
  top: 50%;
  right: 100%;
  margin: -16px 8px 0 0;
}
.tef-tooltip.right:after {
  border-left: 8px solid #31323b;
  top: 50%;
  right: 100%;
  margin: -8px -8px 0 0;
}
.tef-tooltip.right.reverse:before {
  top: auto;
  bottom: 50%;
  margin: 0 8px -16px 0;
}
.tef-tooltip.bottom:before {
  top: 100%;
  left: 50%;
  margin: 8px 0 0 -16px;
}
.tef-tooltip.bottom:after {
  border-bottom: 8px solid #31323b;
  left: 50%;
  top: 100%;
  margin: -8px 0 0 -8px;
}
.tef-tooltip.bottom.reverse:before {
  right: 50%;
  left: auto;
  margin: 8px -16px 0 0;
}
.tef-tooltip.top:before {
  bottom: 100%;
  left: 50%;
  margin: 0 0 8px -16px;
}
.tef-tooltip.top:after {
  border-top: 8px solid #31323b;
  left: 50%;
  bottom: 100%;
  margin: 0 0 -8px -8px;
}
.tef-tooltip.top.reverse:before {
  right: 50%;
  left: auto;
  margin: 0 -16px 8px 0;
}
.tef-tooltip:hover:before,
.tef-tooltip:focus:before,
.tef-tooltip.active:before,
.tef-tooltip:hover:after,
.tef-tooltip:focus:after,
.tef-tooltip.active:after {
  display: block;
}
